header
    background-color: mauve
    nav
        padding-bottom: 30px
        padding-top: 30px
        h1
            text-align: center
            padding-bottom: 10px
            font-family: victory
            font-style: italic
        hr
            margin-left: 15%
            margin-right: 15%
        div
            text-transform: uppercase
            display: flex
            justify-content: space-around
            text-decoration: none
            margin-left: 27%
            margin-right: 27%
            a
                text-decoration: none
                color: black
                font-size: 12px
            a:hover
                text-decoration: none
                color: black
#banner-img
    background-image: url("../img/banner-bg.jpg")
    width: 100%
    height: 70vh
    background-position: center
    display: flex
    align-items: center
    justify-content: center
    div
        vertical-align: middle
        h5
            text-align: center
            color: white
            text-transform: uppercase
        h1
            text-align: center
            color: white
            text-transform: uppercase
            font-family: spectral
        p
            text-align: center
            color: white
            margin-left: 17%
            margin-right: 17%
        div
            button
                font-size: 12px
    
   
        


    